Challenge2/Challenge2NodeRedFlow.json
[{"id":"ee28423a.1c5c3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e30cc2a5.a28658","type":"mqtt in","z":"ee28423a.1c5c3","name":"","topic":"polimi/challenge_2/2023/id_code_generator/6","qos":"0","broker":"a9276d21.67f128","x":190,"y":200,"wires":[["dfde7ce5.b4cd58"]]},{"id":"523fe507.d730d4","type":"function","z":"ee28423a.1c5c3","name":"Calculate Frame id","func":"if(flow.get(\"MsgCounter\")>=100){\n    node.warn(\"Limit of messages exceeded\");\n    return;\n}\nlet oldCount = flow.get(\"MsgCounter\");\nflow.set(\"MsgCounter\", oldCount+1);\nvar personcode=8672;\nvar sum=personcode+Number(msg.payload.id);\nvar frameid=sum%7711;\nmsg.frameid=frameid;\nnode.warn(\"Processing msg number: \" + flow.get(\"MsgCounter\") + \" with id: \" + msg.frameid);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":200,"wires":[["ca929560.62e638"]]},{"id":"dfde7ce5.b4cd58","type":"json","z":"ee28423a.1c5c3","name":"","property":"payload","action":"","pretty":false,"x":470,"y":200,"wires":[["523fe507.d730d4"]]},{"id":"fd93896a.a9b8","type":"file in","z":"ee28423a.1c5c3","name":"Read file","filename":"/home/user/Desktop/challenge2023_2.csv","format":"utf8","chunk":false,"sendError":true,"x":490,"y":660,"wires":[["aece450.e70e238"]]},{"id":"aece450.e70e238","type":"csv","z":"ee28423a.1c5c3","name":"Parse csv","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":690,"y":660,"wires":[["b1202e86.cf9338"]]},{"id":"96432cb8.e19e6","type":"debug","z":"ee28423a.1c5c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1080,"y":660,"wires":[]},{"id":"76341a1e.97f96c","type":"inject","z":"ee28423a.1c5c3","name":"On start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":260,"y":660,"wires":[["fd93896a.a9b8"]]},{"id":"b1202e86.cf9338","type":"function","z":"ee28423a.1c5c3","name":"Save Data","func":"flow.set(\"Data\", msg.payload);\nflow.set(\"MsgCounter\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":660,"wires":[["96432cb8.e19e6"]]},{"id":"ca929560.62e638","type":"function","z":"ee28423a.1c5c3","name":"Elaborate packet","func":"let packet= flow.get(\"Data\")[msg.frameid-1];\nnode.warn(packet)\nlet type=packet['Info'];\nif(!type.includes(\"Publish Message\")){\n    node.warn(\"Not a publish message, returning\");\n    return;\n}\nlet content=packet['Message'];\nlet numPublish =  packet['Info'].split(\"Publish\").length - 1;\nconsole.log(content)\nmsg.payload = packet;\nmsg.type=packet['Info'];\nif (content!==undefined){\n    let parseContent = '['+content+']';\n    try{\n    msg.content=JSON.parse(parseContent);\n    }\n    catch(err){\n        node.warn(err);\n        let lastObjectEnd = content.lastIndexOf(\"}\");\n        node.warn(\"Parse error\");\n        parseContent = '[' + content.slice(0, lastObjectEnd+1) + ']';\n        msg.content=JSON.parse(parseContent);\n    }\n    for(let i=0; i<numPublish; i++){\n        if(i>=msg.content.length){\n            msg.sendPayload='';\n            node.send(msg);\n        }\n        else{\n            let objToSend = msg.content[i];\n            msg.sendPayload=JSON.stringify(objToSend);\n            node.send(msg);\n        }\n    }\n}\nelse{\n    msg.sendPayload='';\n    return msg;\n}\nreturn;","outputs":1,"noerr":0,"x":970,"y":200,"wires":[["e851114.421327"]]},{"id":"83616e60.b1e29","type":"mqtt out","z":"ee28423a.1c5c3","name":"","topic":"/polimi/iot2023/challenge2/10608672","qos":"0","retain":"","broker":"a9276d21.67f128","x":1360,"y":360,"wires":[]},{"id":"e851114.421327","type":"function","z":"ee28423a.1c5c3","name":"Create mqtt string","func":"//The payload to send is inside msg.sendPayload\nnode.warn(\"Received something to send\")\nlet toSend = {timestamp: Date.now(), id: msg.frameid, payload: msg.sendPayload};\nmsg.payload = JSON.stringify(toSend);\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":200,"wires":[["83616e60.b1e29"]]},{"id":"e88dd67e.853b78","type":"mqtt in","z":"ee28423a.1c5c3","name":"","topic":"/polimi/iot2023/challenge2/10608672","qos":"0","broker":"a9276d21.67f128","x":360,"y":500,"wires":[["d5f06395.2366a8"]]},{"id":"d5f06395.2366a8","type":"function","z":"ee28423a.1c5c3","name":"Deserialize and plot","func":"let receivedMessage = JSON.parse(msg.payload);\nnode.warn(receivedMessage);\nif(receivedMessage['payload']!==''){\n    let receivedContent = JSON.parse(receivedMessage['payload']);\n    if(receivedContent['unit']=='C'){\n        msg.payload=receivedMessage;\n        node.warn(\"Temperature: \" + receivedContent['range'][1]);\n        node.send([null, msg]); // Sending to csv node\n        msg.payload=receivedContent['range'][1];\n        return [msg, null]; // Sending to chart node\n    }\n}\nreturn;","outputs":2,"noerr":0,"x":720,"y":500,"wires":[["d1848804.0556e8"],["21f0a14c.d049a6"]]},{"id":"5fadce5.329273","type":"ui_chart","z":"ee28423a.1c5c3","name":"","group":"4e917bb9.c0191c","order":0,"width":"6","height":"6","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1290,"y":480,"wires":[[],[]]},{"id":"d1848804.0556e8","type":"delay","z":"ee28423a.1c5c3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":480,"wires":[["5fadce5.329273"]]},{"id":"87dee163.337f1","type":"file","z":"ee28423a.1c5c3","name":"","filename":"/home/user/Desktop/ch2output.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1260,"y":540,"wires":[[]]},{"id":"21f0a14c.d049a6","type":"csv","z":"ee28423a.1c5c3","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":950,"y":540,"wires":[["87dee163.337f1"]]},{"id":"a9276d21.67f128","type":"mqtt-broker","z":"","name":"hivemq","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e917bb9.c0191c","type":"ui_group","z":"","name":"Challenge2","tab":"d294639a.e53178","disp":true,"width":"6","collapse":false},{"id":"d294639a.e53178","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]